

<div class="login">
<h1>sessions#login</h1>
	<div class="form">
		<%= form_for(:session, url: login_path) do |f| %>
		<div class="container">
			<h3>Log In</h3>
			
			<%= f.email_field :email, :placeholder => "Email Address" %><br>
			<%= f.password_field :password, :placeholder => "Password" %><br>
			<%= f.submit 'Log In' %>
		</div>
		<% end %>

	</div>
</div>

